
.git
.gitignore
.gitattributes
.svn
.hg


Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml


*.pem
*.key
*.keypair
*.p12
*.pfx
*.cer
*.crt
*.gpg
*.jks
credentials.*
secrets.*
config.json # If it contains secrets, otherwise un-comment if needed for app config
.env
.env.*
!/.env.example



# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-cache/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/
*.egg
instance/ # Common for Flask/Django temp files or local configs


logs/
*.log
tmp/
temp/



